/** Carousel **/

.carousel{
    position: relative;
    overflow: hidden;
}
.carousel__container{
    transition: transform 0.3s;
    transform: translate3d(0,0,0);
}
.carousel__container::after{
    content: '';
    clear: both;
    display: table;
}
.carousel__item{
    float: left;
    height: 550px;
}
.carousel__item img {
    width: 100%;
    height: auto;
}
.carousel__next,
.carousel__prev{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(160, 24, 24);
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 40px;
    box-shadow: 0 15px 35px #3232321a, 0 5px, 15px #0000001a;
    cursor: pointer;
    transition: transform .3s, opacity 0.3s;
}
.carousel__next:hover,
.carousel__prev:hover{
    transform: scale(1.2);
}
.carousel__prev{
    right: auto;
    left: 40px;
}
.carousel__next--hidden,.carousel__prev--hidden{
    opacity: 0;
}
.carousel__pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: block;

}
.carousel__pagination__button{
    background-color: #FFF;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    box-shadow: 0 2px 5px #3232321a;
    transition: transform 0.3s;
    cursor: pointer;
}
.carousel__pagination__button--active,
.carousel__pagination__button:hover{
    transform: scale(1.4);
}

@media screen and (max-width: 800px) {
    .carousel__pagination {
        display: none;
    }

    .carousel__item{
        float: left;
        height: 550px;
    }
    .carousel__item img {
        height: 550px;
        width: auto;
    }
}