// Variables
// =================

// Generic
// =================
@import "libs/_reset.scss";
@import "libs/_functions.scss";
@import "libs/_mixins.scss";
@import "modules/_typography.scss";

body{
  font-size: 14px;
  font-family: $f-raleway;
  line-height: 2.2;
  color: #8c8c8c;
}

.container,
%container {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

// Imports
// =================
@import "layouts/_nav.scss";