.navbar{
  color: #ffffff;
}
.nav{
  @extend %container;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: auto;
  color: #ffffff;
  display: -webkit-box;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-align: center;
  //align-items: center;
  padding-top: space(5);
}
.nav__logo img{
  width: 32px;
  -webkit-box-flex: 0;
  flex: none;
}
.nav__logo span{
  font-size: 1.2rem;
  font-weight: lighter;
  margin-left: 10px;
}
.nav__logo img, .nav__logo span {
  float: left;
}
.nav__menu{
  margin-left: auto;
  display: -webkit-box;
  display: flex;
}
.nav__menu > * + *{
  margin-left: space(3);
}
.nav__menu li {
  padding: 2px;
}
.nav__menu .active {
  color: #f1d4ae;
  border-top: 1px solid #f1d4ae;
  background-color: linear-gradiant(black 50%,white 100%);
}
.nav__menu .active{
  color: $bege;
  border-top: 1px solid $bege;
}
.nav__menu li:hover {
  color: antiquewhite;
}

// Burger
// =================
.nav__burger{
  display: none;
  margin-left: auto;
  
}
.nav__burger span {
  position: relative;
}
.nav__burger span,
.nav__burger span::after,
.nav__burger span::before {
  content: '';
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  -webkit-transition: background .2s, -webkit-transform 0.3s;
  transition: background .2s, -webkit-transform 0.3s;
  transition: transform 0.3s, background .2s;
  transition: transform 0.3s, background .2s, -webkit-transform 0.3s;
}
.nav__burger span::after,
.nav__burger span::before {
  position: absolute;
}
.nav__burger span::before{
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  top: -6px;
}
.nav__burger span::after{
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  bottom: -6px;
}
.nav__burger.is-active {
  span {
    background: transparent;
  }
  span::before {
    -webkit-transform: translateY(-2px) rotate(45deg);
            transform: translateY(-2px) rotate(45deg);
  }
  span::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}


@media only screen and (max-width: 500px){
  .nav__burger{
    display: block;
  }
  .nav__burger span,
  .nav__burger span::before,
  .nav__burger span::after{
    background-color: #000000;
  }
  .nav__menu{
    display: none;
    position: fixed;
    background: rgba(#FFF, .9);
    color: #5c5c5c;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
  }
  .nav__menu.is-active{
    display: -webkit-box;
    display: flex;
    -webkit-animation: menuIn 2s;
    animation: menuIn 2s;
  }
  
  .nav__menu > * + * {
    margin-left: 0;
    margin-top: space(2);
  }

}

@-webkit-keyframes menuIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes menuIn {
  from { opacity: 0; }
  to { opacity: 1; }
}